<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CoronApp</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <aside>
        <div class="contentLogo">
            <img class="logo" src="~/Content/img/logo.jpeg" alt="Logo CoronApp">
        </div>
        <nav>
            <ul>
                @if ((string)Session["documento"] != null)
                {
                    <li><a href="/Usuario/RegistroMutualista">Registrar Mutualista</a></li>
                    <li><a href="/Vacuna/IndexAuth">Lista Vacuna</a></li>
                }
                else
                {
                    <li><a href="/Home/Importador">Importador</a></li>
                }
            </ul>
        </nav>
    </aside>
    <div class="contentHeader">
        <header>
            <h1>@ViewBag.H1</h1>
            <div id="iconPersona">
                @if (Session["documento"] != null)
                {
                    <span>@Session["documento"]</span>
                    <a href="/Usuario/Salir"><img src="~/Content/img/iconPersona.png" alt="icono de persona"><br>Salir</a>
                }
                else
                {
                    <a href="/Usuario/Login"><span>Ingresar </span></a>
                }
            </div>
        </header>
    </div>
    @RenderBody()
    <footer>
        <div class="left">
            <span> Sitio CoronApp </span>
        </div>
        <div class="circulo">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </footer>
</body>
</html>