@model IEnumerable<AplicacionWeb.Models.ViewModelVacunaAPI>
@{
    ViewBag.H1 = "Listar Vacuna";
    ViewBag.Title = "Listar Vacuna";
}
<!DOCTYPE html>
<html lang="es">
<body>
    <main>
        <form method="post" action="/Vacuna/IndexAuth" autocomplete="on">

            <select name="TipoFiltro" id="selectFilter">
                <option value="">Seleccione el filtro </option>
                <option value="PorNombre">Nombre</option>
                <option value="PorFaseAprob">Fase de aprobación</option>
                <option value="PorPaisLab">País de laboratorio</option>
                <option value="PorTipoVac">Tipo de Vacuna</option>
                <option value="PorTopeInferior">Tope inferior de precio</option>
                <option value="PorTopeSuperior">Tope superior de precio</option>
                <option value="PorNombreLab">Nombre Laboratorio</option>
            </select>

            <input type="text" id="filtroText" name="filtroText" />
            @*<input type="number" id="filtroNumber" onkeypress="return justNumbers(event);" min="1" pattern="^[1-9]" name="filtroNumber" />*@
            <input type="text" id="filtroNumber" name="filtroNumber" />

            <input type="submit" id="login" value="Buscar">
        </form>

        <small>Dashboard / <em>Lista Vacunas <p style="color:red;">@ViewBag.mensaje</p></em></small>
        <div id="tableEmpleados">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (AplicacionWeb.Models.ViewModelVacunaAPI item in Model)
                        {
                            <tr>
                                <th>@item.Nombre</th>
                                <th>@item.Tipo</th>
                                <th>$ @item.Precio</th>
                                <th><a href="/Vacuna/Comprar?id=@item.Id">Comprar</a></th>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><th colspan="15">No hay datos disponible</th></tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>